.box3_wrapper {
  background: radial-gradient(ellipse at center, #b46c07c1 0%, #ffcb9a95 100%);
  display: inline-block;
  border-radius: 20px;
  font-size: 50px;
  color: #ffffff;
  padding: 10px;
  z-index: 2;

  position: relative;
  overflow: hidden;
}

.box3_wrapper::before {
  content: "";
  width: 100px;
  height: 140%;
  left: -40%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent 0%,
    #ffffff 50%,
    transparent 100%
  );
  filter: blur(20px);
}

.box3.box3_wrapper::before {
  content: "";
  animation: anime 2s ease-in-out infinite;
}

@-webkit-keyframes anime {
  0% {
    left: -40%;
    transform: translateX(0%);
  }

  100% {
    left: 1110%;
    transform: translateX(100%);
  }
}
