.box3_wrapper {
  background: radial-gradient(ellipse at center, #b46c07c1 0%, #ffcb9a95 100%);
  padding: 0 10px;
  border-radius: 20px;
  position: relative;
  /* overflow: hidden; */
  width: 300px;
}

.box3_wrapper::before {
  content: '';
  display: block;
  width: 100px;
  height: 140%;
  left: -40%;
  position: absolute;
  background: linear-gradient(
    to right,
    transparent 0%,
    #ffffff 50%,
    transparent 100%
  );
  filter: blur(20px);
}

.animation_active.box3_wrapper::before {
  animation: anime 2s ease-in-out infinite;
  content: '';
}

.box3_title {
  color: #ffffff;
  font-size: 50px;
  padding: 10px;
  position: relative;
  z-index: 2;
}

@-webkit-keyframes anime {
  0% {
    left: -40%;
    transform: translateX(0%);
  }

  100% {
    left: 110%;
    transform: translateX(100%);
  }
}
